<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Socket app</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="main_invitado.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body>
    <h1 style="text-align: center;">Ya estamos logados!</h1>
    <h1>user: <span id="val">{{=email}}</span></h1>


</body>
</html>